* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 30px;
}

.main-screen {
    font-size: large;
    font: bold;
    margin: auto;
    text-align: center;
}

.main-screen h1 {
    margin: auto;
    width: 70%;
}

.main-screen p {
    margin: auto;
    width: 70%;
}

.btn {
    margin: 10px 0 10px 0;
    color: white;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 8px;
    border-radius: 25px;
    width: 15%;
    align-items: center;
    border: none;
    justify-content: center;
}

#start-quiz {
    margin: 10px auto;
    width: auto;
}

.btn:hover {
    background-color: rgba(138, 43, 226, .6);
}

.highscore-btns {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    margin: auto;
}

.highscore-table {
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
}

.answer-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-content: flex-start;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.initials-container {
    text-align: center;
}

#submit-btn {
    margin: auto;
}

